@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #f1fbff;
}
.section-padding {
	padding: 70px 0;
}
.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}

.nav-item {
	position: relative;
	padding: 6px;
}

.nav-item::after {
	content: '';
	opacity: 0;
	transition: all 0.2s;
	height: 2px;
	width: 100%;
	background-color: rgb(255, 225, 33);
	position: absolute;
	bottom: 0;
	left: 0;
}

.nav-item:hover::after {
	opacity: 1;
}

.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}

.contact .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.wrapper {
	max-width: 100%;
	width: 100%;
	position: relative;
}
.wrapper .carousel{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc((100% / 3) - 12px);
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	gap: 16px;
	border-radius: 8px;
	scroll-behavior: smooth;
	scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
	display: none;
}
.carousel.no-transition {
	scroll-behavior: auto;
}
.carousel.dragging {
	scroll-snap-type: none;
	scroll-behavior: auto;
}
.carousel.dragging .card {
	cursor: grab;
	user-select: none;
}
.carousel :where(.card, .img) {
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel .card {
	scroll-snap-align: start;
	height: 500px;
	list-style: none;
	background: #fff;
	cursor: pointer;
	padding-bottom: 15px;
	flex-direction: column;

}
.card .img img {
	width: 90%;
	height: 450px;
	object-fit: cover;
	border: 4px solid #fff;
}

video {
  	width: 100%;
 	height: 100vh;
  	object-fit: cover;
}

.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: all .8s ease;
}

.reveal.active {
	transform: translateY(0px);
	opacity: 1;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	video {
		width: 100%;
		max-height: 50vh;
		object-fit: scale-down;
	}


}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	video {
		width: 100%;
		max-height: 70vh;
		object-fit: scale-down;
	}

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	video {
		width: 100%;
		max-height: 90vh;
		object-fit: scale-down;
	}
}

@media screen and (max-width: 900px) {
	.wrapper .carousel {
	  grid-auto-columns: calc((100% / 2) - 9px);
	}
  }
  
  @media screen and (max-width: 600px) {
	.wrapper .carousel {
	  grid-auto-columns: 100%;
	}
  }